.user-seat {
    z-index: 1;
}

.user-select {
    background-color: transparent;
}
.user-list > * {
    min-height: 0;
}
.sm-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.control-panel a:hover {
    text-decoration: none !important;
}

.control-panel-container {
    -webkit-box-shadow: 0 2px 2px 0 #CECECE;
    box-shadow: 0 2px 2px 0 #CECECE;
    padding-bottom: 10px;
    margin-bottom: 20px;

}

label, input[type="checkbox" i] {
    cursor: pointer;
}

.control-panel-container.fix-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: white;
}

.control-panel-container.fix-bar + * {
    padding-top: 193px;
}

.control-panel {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f8f8f8;
    border: 1px solid transparent;
    border-color: #e7e7e7;
    border-radius: 4px;

}

.control-panel .settings,
.control-panel .search-user {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: 10px;
}

.user-list {
    white-space: nowrap;
    overflow-y: scroll;
    height: 40vh;
}

.user-list .user-select {
    display: inline-block;
    cursor: move;

}

.user-list .user-select[hidden] {
    display: none;
    padding-right: 15px;
    padding-left: 15px;
}

.user-list .user-select .avatar {
    width: 65px;
    height: 65px;
    margin: auto;
}

.user-list .user-select .avatar img {
    pointer-events: none;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 100%;

}

.user-list .user-select .name {
    text-align: center;
    padding: 5px 0;
    margin: auto;
}

.control-panel input[type="text"] {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.form-buttons .right {
    float: right;
}

#remove-confirm .modal-body .remove-name {
    font-weight: bold;
}

.delete-form {
    display: none;
}

.sm-btn {
    margin-bottom: 10px;
}