select[multiple] {
  width: 100%;
}

.group-list {
  max-height: 65vh;
  min-height: 40vh;
  overflow-y: auto;
  border: 1px solid black;
}

.add-group-item,
.group-item {
  border-bottom: 1px solid black;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.add-group-item .group-display,
.add-group-item .group-button,
.group-item .group-display,
.group-item .group-button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.add-group-item .group-display,
.group-item .group-display {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5px;
}

.add-group-item .group-button,
.group-item .group-button {
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.add-group-item .group-button span,
.group-item .group-button span {
  margin-bottom: 5px;
}

.add-group-item .group-button span.glyphicon,
.group-item .group-button span.glyphicon {
  height: 20px;
}

.add-group-item .group-button.edit-button,
.add-group-item .group-button.add-button,
.group-item .group-button.edit-button,
.group-item .group-button.add-button {
  background-color: #449d44;
}

.add-group-item .group-button.save-button,
.group-item .group-button.save-button {
  background-color: #337ab7;
}

.add-group-item .group-button.delete-button,
.add-group-item .group-button.cancel-button,
.group-item .group-button.delete-button,
.group-item .group-button.cancel-button {
  background-color: #d9534f;
}

.add-group-item .group-button.save-button,
.add-group-item .group-button.cancel-button,
.group-item .group-button.save-button,
.group-item .group-button.cancel-button {
  display: none;
}

.add-group-item {
  margin-bottom: 5px;
}

.add-group-item input {
  width: 100%;
}

.group-item {
  border-bottom: 1px solid black;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.group-item input {
  display: none;
}

.group-item.active {
  background-color: #CECECE;
}

.group-item.edit input {
  display: inline-block;
}

.group-item.edit label {
  display: none;
}

.group-item.edit .group-button {
  color: white;
}

.group-item.edit .group-button.edit-button,
.group-item.edit .group-button.delete-button {
  display: none;
}

.group-item.edit .group-button.save-button,
.group-item.edit .group-button.cancel-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#member_users,
#non_member_users {
  max-height: 65vh;
  min-height: 40vh;
}

#member_users option,
#non_member_users option {
  padding: 3px;
}

