/* search box */
.search-box {
    margin: 30px;
}

/* big notify */
.big-notify {
    color: grey;
    margin: 200px;
}

/* seat-map panel for home view */
.panel .panel-heading {
    color: white;
    background-color: rgb(2, 133, 173);
}

.home .panel {

    border-color: rgb(2, 133, 173);
}

.panel-body {
    height: 200px;
    width: 100%;
}

.panel-body img {
    max-width: 100%;
    max-height: 100%;

}

.home .panel:hover {

    position: sticky;
    transform: scale(1.2);
    cursor: pointer;
    z-index: 100;
}

.panel-title {
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.home .panel a, .home .panel a:hover {
    color: white;
    text-decoration: none;
}

.seatmap-button {
    visibility: hidden;
    width: 10%;
}

.panel:hover .seatmap-button {
    visibility: visible;
}

.seatmap-button:hover {

    width: 10%;
    position: sticky;
    transform: scale(1.2);
    cursor: pointer;
    z-index: 101;
}

/*The preview image*/
#img-preview
{
    width: 100%;
}
#delete-name
{
    word-break: break-word;
}