
#app {
    min-height: 89vh;
}

/* Navbar */
.navbar-nav.navbar-right .btn {
    position: relative;
    z-index: 2;
    padding: 4px 20px;
    margin: 10px auto;
    transition: transform 0.3s;
}

li.active {
    text-decoration: underline;
}

.btn.btn-circle {
    border-radius: 50px;
}

footer {
    background-color: #1a76d2;
    color: white;
    min-height: 50px;
    padding: 20px 0;
    width: 100%;
    height: 9vh;
    margin: auto;

}

footer p.copyright {
    text-align: center;
    font-weight: bold;
}

#big-title {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 50px;
    padding: 10px 10px;
    text-align: center;
    text-rendering: optimizeLegibility;
    letter-spacing: .05em;
    text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
    cursor: default;
    font-weight: bold;
    color: #5e5e5e;
}
#notifications,#errors
{
    visibility: hidden;
    min-width: 250px;
    position: fixed;
    z-index: 1000;
    right:0;
    bottom: 30px;

}


#notifications.show,#errors.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.3s;
    animation: fadein 0.5s, fadeout 0.5s 4.3s;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}